container {
    width: 500px;
    display: grid;
    margin: auto;
    margin-top: 50px;
}

div.devider.date{
    margin: auto;
    font-size: 26pt;
    width: 80%;
    
}
a {
    color:white;
    font-size: 20pt;
    position:fixed;
    top: 0;
    left: 0;
}
.cell.copy {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 20pt;
}
.cell.clear {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20pt;
}
.cell {
    cursor: pointer;
    font-size: 20pt;;
    border-radius: 10px;
    border: 6px solid #00ADB5;
    background-color: #393E46;
    text-align: center;
    width: 100%;
  }
.devider {
    display: flex;
    padding: 10px;
}
.cell:hover {
  background-color: #2e333a;
}
.cell:active{  
  background-color:#5a5f66;
}

input {
  height:40px;
  text-align: center;
  font-size: 26pt;
  color: #EEEEEE;
  background: none;
  border:none;
  width: 100%;
  
}
input:focus {
  outline:none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
  }

.calendar {
    grid-template-columns: 80px 300px;
}
p {
  
  color: #EEEEEE;
  user-select: none; /* Standard syntax */
  margin: auto;
  margin-right: 15px;
}
html {
  background-color: #222831;
}

.toast-notification{
  margin: auto;
  transition: opacity 1s;
  min-width: 100px;
  height: 35px;
  font-size: 16pt;
  text-align: center;
  border-radius: 6px;
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
  right: 0;
  background-color: #00ADB5;
  position:fixed;
  top: 0;
  right: 0;
  /* display:flex;
  flex-direction:row; */
  user-select: none; /* Standard syntax */
}

.message-container{
  width:80%;
  padding: 5px;
  color:white;
}

.close-notification{
  width:20%;
}